<div class="login-container my-5">

  <h2>Sign up</h2>
    <%= link_to user_facebook_omniauth_authorize_path, id: "facebook"  do %>
      <div class="facebook-div">
        <i class="fab fa-facebook facebook-icon"></i> Contunue with facebook
      </div>
    <% end %>

  <p>- OR -</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-envelope"></i></div>
        </div>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Enter email..." %>
      </div>
    </div>

    <% if @minimum_password_length %>
      <em>(Password <%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />

    <div class="form-group">
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group my-4">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-unlock-alt"></i></div>
        </div>
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "Enter password,..." %>
      </div>
    </div>

    <div class="form-group">
      <label class="sr-only" for="inlineFormInputGroup"></label>
      <div class="input-group my-3">
        <div class="input-group-prepend">
          <div class="input-group-text">...</div>
        </div>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password", placeholder: "Password confirmation..." %>
      </div>
    </div>

     <div class="actions my-5">
      <%= f.submit "Sign up", class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="text-center p-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
