<% @conversations.each do |conversation| %>
  <% if conversation.sender_id == current_user.id or conversation.recipient_id == current_user.id %>

    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>

    <% unless current_user.id == recipient %>
      <div class="chat_list">
        <%= link_to conversation_messages_path(conversation) do %>
          <div class="chat_people">
            <div class="chat_img">
              <%= image_tag user_avatar(recipient.id), class: "convo-user-image" %><br>
            </div>
            <div class="chat_ib">
              <h5><%= recipient.name %><span class="chat_date"><%= conversation_last_message(conversation.id).message_time %><br></span></h5>
              <%= truncate(conversation_last_message(conversation.id).body, length: 40) %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
