<div class="text-center my-5">
    <% @product.images.each do |i| %>
        <%= image_tag(i, class: "product-image text-center") %>
    <% end %>
    <div class="row mt-5">
        <div class="col-sm-6 mt-3">
            <%= image_tag @geo_url, class: "map-img" %>
        </div>
        <div class="col-sm-6 text-left">
            <h2 class="text-center"><%= @product.title %></h2><br>
            <%= @product.description %><br>
            <hr>
            <div class="mt-4">
                <% if @user_product.images.attached? %>
                    <%= image_tag @user_image, class: "user-avatar" %>
                <% elsif @user_product.image.present? %>
                    <%= image_tag @user_product.image %>
                <% end %>
                <div class="mt-2">
                    <b><i class="fas fa-user"></i></b>
                    <%= @user_product.name %><br>
                    <b><i class="fas fa-map-marker-alt"></i></b>
                    <%= @product.city%>,
                    <%= @product.state%>
                </div>
            </div>
        </div>
        <div class="m-auto pt-5">
            <%= link_to 'Back', root_path, class: 'btn btn-info' %>
            <% if current_user %>
                <% if current_user.id == @product.user_id %>
                    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary' %>
                    <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure you would like to delete Location: #{@product.title}" }, :class => "btn btn-danger" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>