<div class="text-center my-5">
  <% if @product.images.attached? %>
    <% @product.images.each do |i| %>
      <%= image_tag(i, class: "product-image text-center") %>
    <% end %>
  <% end %>
  <div class="row mt-5">
    <div class="col-sm-6 mt-3">
      <div id="map"></div>
      <script>
        var map;
        function initMap() {
          var uluru = {lat: <%= @product.latitude %>, lng: <%= @product.longitude %>};
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @product.latitude %>, lng: <%= @product.longitude %>},
            zoom: 14
          });
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9baOX0VI4bMeZC2YUGFNs0ffcVg30hKc&callback=initMap" async defer></script>
    </div>
    <div class="col-sm-6 text-left">
      <h2 class="text-center"><%= @product.title %></h2><br>
      <%= @product.description %><br>
      <hr>
        <div class="mt-4">
          <% if @user_product.avatar.attached? %>
            <%= image_tag @user_avatar, class: "user-avatar" %>
          <% elsif @user_product.image.present? %>
            <%= image_tag @user_product.image, class: "user-avatar" %>
          <% end %>
          <div class="mt-2">
            <b><i class="fas fa-user"></i></b>
            <%= @user_product.name %><br>
            <b><i class="fas fa-map-marker-alt"></i></b>
            <%= @product.city%>,
            <%= @product.state%>
          </div>
        </div>
      </div>
    <div class="m-auto pt-5">
      <%= link_to 'Back', root_path, class: 'btn btn-info' %>
      <% if user_signed_in? and current_user.id != @product.user_id %>
        <%= link_to '<i class="fas fa-envelope"></i>'.html_safe, conversations_path(sender_id: current_user.id, recipient_id: @product.user.id), method: 'post', class:"btn btn-secondary px-4" %>
      <% elsif  user_signed_in? and current_user.id == @product.user_id %>
        <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure you would like to delete Location: #{@product.title}" }, :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>