<div class="text-center my-5">
    <%= image_tag(@product.image, class: "product-image text-center") %>
    <div class="my-5">
        <%= @product.title %><br>
        <%= @product.details %>
    </div>

    <%= link_to 'Back', root_path, class: 'btn btn-info' %>
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-secondary' %> 
</div>