<!DOCTYPE html>
<html>
  <head>
    <title>TradeUp</title>
    <%= render "shared/rails_default" %>
    <%= render "shared/shim" %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= render "shared/main" %>
  </body>
</html>
